@import "../styles.scss";

.photos {
  display: flex;
  flex-direction: column;
  width: 100vw;

  gap: 10px;
  background-color: $color-bg-1;

  &_portrait {
    width: initial;

    &_container {
      display: flex;
      flex-direction: column;
      width: initial;
      gap: 20px;

      &_row {
        display: flex;
        width: initial;
        gap: 20px;

        .image {
          width: 100%;

          img {
            width: 100%;
            height: auto;

            contain: content;
          }
        }
      }

    }

  }
}
.null {
  width: 100vw;
  height: 100vh;
}