@import "src/styles/styles";

.magic_cursor_wrapper {
  position: fixed;
  top: -99px;
  left: -99px;
  width: 50px;
  height: 50px;
  z-index: 100;
  pointer-events: none;
  .cursor {
    &_simple {
      position: relative;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background-color: $color-text-1;
      border: 1px solid $color-text-2;
      backdrop-filter: blur(5px);
      width: 10px;
      height: 10px;
      transition: 0.5s ease-in-out;
    }
    &_hover {
      position: relative;
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      background-color: rgba(255,255,255,0.1);
      border: 1px solid $color-text-1;
      backdrop-filter: blur(5px);
      width: 50px;
      height: 50px;
      transition: 0.5s ease-in-out;
    }
  }

  .info {
    position: absolute;
    white-space: nowrap;
    top: 25px;
    left: 60px;
    transition: 0.5s;
    h4 {
      transition: 0.5s;
    }
    p {
      transition: 0.5s;
    }
  }
}