@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  width: 100%;

}
html{
  background-color: $color-bg-1;
  width: 100vw;
}
body{
  width: 100%;
  //padding-right: $scrollbar-width;
  overflow-x: hidden;

}