@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  //border: 1px solid red;
}
#root{
  width: 100%;
}

html{
  background-color: $color-bg-1;
  width: 100vw;
  color: $color-text-1;
  scroll-behavior: smooth;
}
body{
  width: 100%;
  //padding-right: $scrollbar-width;
  overflow-x: hidden;
}
//------TEXT-TAGS-------\\
a{
  text-decoration: none;
}

h1{
  @include Jost;
}
h2{
  @include Jost;
}
h3{
  @include Jost;
  text-align: right;
  font-size: 48px;
  font-style: normal;
  font-weight: 250;
  line-height: 120%; /* 57.6px */
}
h4 {
  @include Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
p {
  @include Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.water_snack{
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 10%;
  z-index: 100;
}

#main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  position: relative;
  overflow: auto;
}
#inscription {
  scroll-snap-align: start;
  position: relative;
}
#tabs {
  scroll-snap-align: start;
  position: relative;
}