@import "variables";

::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: $color-bg-1;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: $color-bg-1;
}

::-webkit-scrollbar-thumb {
  background: $color-bg-3;

  border-radius: 5px;
  border: 2px solid #141414;
  transition: 0.5s;

}

::-webkit-scrollbar-thumb:hover {
  background: #565656;
  border-radius: 5px;
  border: 0px solid red;
  transition: 0.5s;
}