//-----Colors------//

$color-bg-1: #0D0D0D;
$color-bg-2: #1B1B1B;
$color-bg-3: #8C8C8C;
$color-bg-4: #E3E3E3;
$color-bg-5: #F9F9F9;

$color-text-1: #F9F9F9;
$color-text-2: #8C8C8C;
$color-text-3: #0D0D0D;

//-----values------//
$scrollbar-width: 5px;

//-----FONTS------//
@font-face {
  font-family: 'Jost';
  src: url("./fonts/Jost-VariableFont_wght.ttf");
}
@mixin Jost {
  font-family: "Jost", sans-serif;
}